@media(max-width: 975px){
	.containera__first_background{
		background-color: var(--ui-dark-shade-color); /* Replace with your desired background color */
		background-image: url('../img/first-background.png'); /* Replace 'path-to-your-image.jpg' with the actual path to your image file */
		background-size: cover;
		background-position: bottom;
		background-repeat: no-repeat;
		/* Additional styles as needed */
	}
	.header__center{
		display: flex;
		justify-content: space-between;
		height: auto;
		align-items: center;
		padding: 20px 24px 30px 24px;
	}

	.header__title{
		display: flex;
		font-family: 'Montserrat-Bold';
		font-size: 20px;
		z-index: 2;
	}

	.header__logo{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 52px;
		height: 52px;
		z-index: 3;
	}
	.header__logo-img {
		max-width: 100%; /* Забезпечте адаптивність для зображення */
		max-height: 100%;
		border-radius: 50%;
	  }
	.menu-btn {
		display: flex;
		width: 26px;
		height: 18px;
		position: relative;
		align-self: flex-end;
		z-index:2;
		overflow: hidden;
	}
	.menu-btn span {
		width: 24px;
		height: 3px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: var(--ui-light-accent-color);
		transition: all 0.7s;
	}
	.menu-btn span:nth-of-type(2) {
		top: calc(50% - 5px);
	}
	.menu-btn span:nth-of-type(3) {
		top: calc(50% + 5px);
	}
	.header__menu {	
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 15px;
		background: var(--ui-link-hover-color);
		transform: translateX(100%);
		transition: transform 1s;
		background-color: var(--ui-dark-shade-color); /* Replace with your desired background color */
		background-image: url('../img/first-background.png'); /* Replace 'path-to-your-image.jpg' with the actual path to your image file */
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
	}
	.header__menu.active {
		transform: translateX(0%);
		z-index: 1;
	}

	.header__nav-list-f{
		padding-top: 20vh;
	}

	.header__nav-list{
		display: flex;
		flex-direction: column;
		font-family: "Matserat Bold", sans-serif;
		padding-bottom: 15px;
		align-items: center;
	}
	.header__nav-list a{
		font-family: 'Montserrat Italic', sans-serif;
		font-size: 25px;
		text-align: center;
		border-radius: 20px;
		width: 120px;
		height: 40px;
		background-color: var(--button-background-color);
	}
	.header__nav-list a:hover {
		background-color: #29c8e9;
	}

	.header__sign-up{
		display: flex;
		flex-direction: column;
		font-family: 'Montserrat Italic';
		font-size: 25px;
		padding-top: 25vh;
		justify-content: center;
		text-align: center;
	}
}
@media(min-width: 976px){
	.containera__first_background{
		background-color: var(--ui-dark-shade-color); /* Replace with your desired background color */
		background-image: url('../img/first-background.png'); /* Replace 'path-to-your-image.jpg' with the actual path to your image file */
		background-size: cover;
		background-position: bottom;
		background-repeat: no-repeat;
		/* Additional styles as needed */
	}
	.header__center{
		display: flex;
		font-family: 'Montserrat', sans-serif;
		justify-content: space-between;
		height: auto;
		align-items: center;
		padding: 20px 24px 30px 24px;
	}

	.header__title{
		display: flex;
		font-family: 'Montserrat-Bold';
		font-size: 32px;
		z-index: 2;
	}

	.header__logo{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 52px;
		height: 52px;
		z-index: 3;
	}
	.header__logo-img {
		max-width: 100%;
		max-height: 100%;
		border-radius: 50%;
	  }
	.header__sign-up{
		display: none;
	}
	.header__menu ul{
		display: flex;
		flex-direction: row;
	}
	.header__menu li{
		padding-left: 10px;
		padding-right: 10px;
		font-size: 20px;
	}
}