.main-capture__container {
    display: flex;
    flex-direction: column;
    min-height: 700px;
    padding-top: 260px;
    padding-bottom: 260px;
    align-items: center;
    justify-items: center;
}

.main-capture__title {
    display: flex;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 62px;
    text-align: center;
    padding: 15px 15px 30px 15px;
}

.main-capture__capt {
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 20px;
    padding: 15px 15px 35px 15px;
    text-align: center;
}

.main-capture__nav-con {
    width: 122px;
    height: 46px;
    font-size: 18px;
}